<div class="container p-4" style="margin-top:70px ;">

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">EDITAR CATEGORIA</h3>
                </div>

                <div class="card-body">
                    <form action="/edit-category" method="post">
                        <div class="input-group mt-2">
                            <label for="name" class="input-group-text">Nombre</label>
                            <input class="form-control" type="text" name="namcat" id="namcat" placeholder="Categoria"
                                autofocus>
                        </div>
                        <div class="input-group mt-2">
                            <label for="description" class="input-group-text">Descripcion</label>
                            <input class="form-control" type="text" name="desccat" id="desccat"
                                placeholder="Descripcion">
                        </div>
                        <div class="input-group mt-2">
                            <label for="state" class="input-group-text">Estado</label>
                            <input class="form-control" type="text" name="estadocat" id="estadocat"
                                placeholder="Estado">
                        </div>

                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success"> Guardar</button>
                            <button class="btn btn-danger"><a class="nav-link  link-light" aria-current="page"
                                    href="/list"> Cancelar</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>